audio{
    width: 100%;
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.card .waves-effect.waves-light.btn {
    height: initial;
}
#menu {
    padding-left: 3%;
}
#favoris-page {
    display: none;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
}
.favoris audio{
    width: 80%;
}
.favoris .flex{
    justify-content: space-between;
}
input#search{
    width: 90%;
    color: #fff;
}
input#search:focus{
    color: #2bbbad;
}
#search-btn{
    width: 10%;
    height: 100%
}
button p{
    display: inline-block;
}
