/* h2 {
    font-size: 2em;
}
.card{
    height: 43em;
}
.wrapper{
    width: 60%;
    margin: 0 auto;
}


*/
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.card .waves-effect.waves-light.btn {
    height: initial;
}
audio{
    width: 100%;
}