#ma-nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
audio{
    width: 100%;
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.card .waves-effect.waves-light.btn {
    height: initial;
}
#menu {
    padding-left: 3%;
}
#favoris-page {
    display: none;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    margin-top: 10em;
}
.favoris audio{
    width: 70%;
}
.favoris p{
    width: 20%;
}
.favoris .flex > i{
    color: #F44336;
}
.favoris .flex{
    justify-content: space-between;
    align-items: center;
}
input#search{
    width: 90%;
    color: #fff;
}
input#search:focus{
    color: #2bbbad;
}
#search-btn{
    width: 10%;
    height: 100%
}
button p{
    display: inline-block;
}
.rate i {
    color: #d8b800
}
#modal2{
    color: #fff;
}
.voile{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}
/* .visble{
    display: inherit;
}
.none-visible{
    display: none;
} */
.artist{
    height: 50vw;
    display: none;
}
.track{
    display: none;
}